In [8]:
from sklearn.datasets import make_classification
import pandas as pd
import numpy as np
import random
from random import randint

In [9]:
X,y = make_classification(n_samples=100000,
                        n_features=20,
                        n_informative=3,
                        n_redundant=9,
                        n_repeated=0,
                        n_classes=2,
                        n_clusters_per_class=2,
                        weights=None,
                        flip_y=0.25,
                        class_sep=0.75)

In [10]:
dummy_classifier = pd.DataFrame(np.c_[X, y])

In [16]:
column_names = []
for i in range(20):
    column_names.append(f"atributo_{i}")

In [17]:
column_names.append("target")

In [18]:
dummy_classifier.columns = column_names

In [19]:
dummy_classifier

,atributo_0,atributo_1,atributo_2,atributo_3,atributo_4,atributo_5,atributo_6,atributo_7,atributo_8,atributo_9,...,atributo_11,atributo_12,atributo_13,atributo_14,atributo_15,atributo_16,atributo_17,atributo_18,atributo_19,target
0,-1.906722,1.941841,0.416019,-2.252141,-1.048724,-0.172326,1.723626,0.137547,-0.706444,-0.213275,...,-0.968276,-0.259032,-0.257083,1.340844,-0.485135,0.151331,1.453180,0.093064,1.035923,1.0
1,2.163308,3.506253,1.653397,0.906279,-2.253183,-0.639319,2.115199,0.487945,-0.238446,1.421626,...,0.424038,-0.328293,1.456432,2.483499,-1.458596,1.075540,0.474104,0.807207,-3.218178,1.0
2,1.480232,0.613778,0.083242,0.082238,0.372549,0.432453,0.564609,-0.400745,-0.229656,-1.125070,...,-0.660246,-0.004795,-0.666720,-0.187344,-0.412186,0.766663,1.301580,-0.235516,0.819091,1.0
3,-1.427644,-1.791116,-0.122276,0.979015,3.492740,1.866232,-2.007483,1.084972,-1.301854,-2.970057,...,0.608703,0.603950,-1.060015,-3.552696,-0.834970,-0.673242,0.829378,1.203402,0.222614,1.0
4,-0.579685,-0.748700,-0.156270,0.983354,1.990314,1.153113,-0.746841,-0.314770,-1.192211,-2.137515,...,-0.168512,0.296498,-1.011253,-1.925839,-0.487953,0.548585,1.115968,-1.177203,1.204165,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.765262,0.026512,-1.773139,-0.642019,0.308043,0.379688,2.008214,-0.601980,0.411052,-3.022542,...,-4.161950,-0.326148,-3.517718,0.238343,1.305782,-1.093584,3.847848,0.468267,0.957058,0.0
99996,-0.295619,1.678872,0.533224,-0.321652,-0.633864,0.022302,1.281686,-0.160200,1.055778,-0.316826,...,-0.538154,-0.154915,-0.093924,0.867713,-0.676339,-1.223166,1.206088,-0.243330,1.003698,1.0
99997,0.488303,3.546324,1.589774,-2.081799,-2.616340,-0.870416,2.248690,1.199836,-0.218364,1.792288,...,0.358891,-0.390509,1.558446,2.834841,-1.265163,0.074595,0.282883,-0.957902,1.371140,0.0
99998,0.236892,0.398166,-0.580984,-0.467462,-0.581911,-0.226457,1.120687,0.116141,-2.401691,-0.490471,...,-1.583042,-0.234149,-1.025279,0.790159,0.598611,-0.952215,1.213944,-1.548418,-0.297664,0.0
99999,-0.334921,0.128220,-0.605868,0.192835,-1.476218,-0.918382,0.894933,-0.661668,1.211683,1.046376,...,-1.012171,-0.319824,-0.195453,1.517563,1.079682,0.898953,-0.157254,0.043180,-0.134510,1.0

In [20]:
dummy_classifier.to_csv("dummy_classifier.csv", index=False)

In [5]:
age_0 = np.random.normal(50, 15, 10000)
age_1 = np.random.normal(25, 3, 10000)

In [6]:
salary_0 = np.random.normal(5000, 500, 10000)
salary_1 = np.random.normal(5000, 500, 10000)

In [7]:
num_reclama_sac_0 = [randint(0, 2) for p in range(0, 10000)]
num_reclama_sac_1 = [randint(0, 9) for p in range(0, 10000)]

In [64]:
zero_df = pd.DataFrame().from_dict({ "age":age_0,
                                     "salary":salary_0,
                                     "num_reclama_sac": num_reclama_sac_0
                                    })

In [65]:
zero_df["target"] = 0

In [66]:
one_df = pd.DataFrame().from_dict({ "age":age_1,
                                     "salary":salary_1,
                                     "num_reclama_sac": num_reclama_sac_1
                                    })

In [67]:
one_df["target"] = 1

In [68]:
nps_df = zero_df.append(one_df, ignore_index=True)

In [69]:
nps_df.to_csv("nps_df.csv",index=False)

In [70]:
pd.read_csv("nps_df.csv")

             age       salary  num_reclama_sac  target
0      83.321890  4439.052745                2       0
1      49.130333  5324.483466                1       0
2      41.303278  4017.252364                0       0
3      61.072731  5128.886506                1       0
4      42.804972  4723.732391                2       0
...          ...          ...              ...     ...
19995  28.793133  5915.515404                7       1
19996  24.008123  4381.272452                7       1
19997  28.963311  4787.763367                7       1
19998  23.202503  5388.362424                1       1
19999  24.791041  5178.355266                9       1

[20000 rows x 4 columns]