In [39]:
from sklearn.datasets import make_classification
import pandas as pd
import numpy as np
import random
from random import randint

In [71]:
X,y = make_classification(n_samples=100000,
                        n_features=10,
                        n_informative=2,
                        n_redundant=2,
                        n_repeated=0,
                        n_classes=2,
                        n_clusters_per_class=2,
                        weights=None,
                        flip_y=0.3,
                        class_sep=0.8)

In [72]:
dummy_classifier = pd.DataFrame(np.c_[X, y]) #Large dataset, we may use it to perform classification and feature selection.

In [73]:
dummy_classifier.to_csv("dummy_classifier.csv", index=False)

In [61]:
age_0 = np.random.normal(50, 15, 10000)
age_1 = np.random.normal(25, 3, 10000)

In [62]:
salary_0 = np.random.normal(5000, 500, 10000)
salary_1 = np.random.normal(5000, 500, 10000)

In [63]:
num_reclama_sac_0 = [randint(0, 2) for p in range(0, 10000)]
num_reclama_sac_1 = [randint(0, 9) for p in range(0, 10000)]

In [64]:
zero_df = pd.DataFrame().from_dict({ "age":age_0,
                                     "salary":salary_0,
                                     "num_reclama_sac": num_reclama_sac_0
                                    })

In [65]:
zero_df["target"] = 0

In [66]:
one_df = pd.DataFrame().from_dict({ "age":age_1,
                                     "salary":salary_1,
                                     "num_reclama_sac": num_reclama_sac_1
                                    })

In [67]:
one_df["target"] = 1

In [68]:
nps_df = zero_df.append(one_df, ignore_index=True)

In [69]:
nps_df.to_csv("nps_df.csv",index=False)

In [70]:
pd.read_csv("nps_df.csv")

             age       salary  num_reclama_sac  target
0      83.321890  4439.052745                2       0
1      49.130333  5324.483466                1       0
2      41.303278  4017.252364                0       0
3      61.072731  5128.886506                1       0
4      42.804972  4723.732391                2       0
...          ...          ...              ...     ...
19995  28.793133  5915.515404                7       1
19996  24.008123  4381.272452                7       1
19997  28.963311  4787.763367                7       1
19998  23.202503  5388.362424                1       1
19999  24.791041  5178.355266                9       1

[20000 rows x 4 columns]