In [1]:
from sklearn.datasets import make_blobs
import pandas as pd
import numpy as np
import random
from random import randint

In [2]:
age_detrator = np.random.normal(25, 15, 10000)
age_neutro = np.random.normal(37, 3, 10000)
age_promotor = np.random.normal(50, 3, 10000)

In [3]:
salary_detrator = np.random.normal(5000, 500, 10000)
salary_neutro = np.random.normal(5000, 500, 10000)
salary_promotor = np.random.normal(5000, 500, 10000)

In [4]:
num_reclama_sac_detrator = [randint(0, 9) for p in range(0, 10000)]
num_reclama_sac_neutro = [randint(0, 5) for p in range(0, 10000)]
num_reclama_sac_promotor = [randint(0, 2) for p in range(0, 10000)]

In [5]:
nota_detrator = [randint(0, 7) for p in range(0, 10000)]
nota_neutro = [randint(7, 8) for p in range(0, 10000)]
nota_promotor = [randint(9, 10) for p in range(0, 10000)]

In [6]:
promotor_df = pd.DataFrame().from_dict({ "age":age_promotor,
                                     "salary":salary_promotor,
                                     "num_reclama_sac": num_reclama_sac_promotor,
                                     "nota":nota_promotor
                                    })

In [7]:
neutro_df = pd.DataFrame().from_dict({"age":age_neutro,
                                     "salary":salary_neutro,
                                     "num_reclama_sac": num_reclama_sac_neutro,
                                     "nota":nota_neutro
                                    })

In [8]:
detrator_df = pd.DataFrame().from_dict({ "age":age_detrator,
                                     "salary":salary_detrator,
                                     "num_reclama_sac": num_reclama_sac_detrator,
                                     "nota":nota_detrator
                                    })

In [9]:
nps_df = promotor_df.append(neutro_df, ignore_index=True).append(detrator_df, ignore_index=True)

In [10]:
nps_df.describe()

                age        salary  num_reclama_sac          nota
count  30000.000000  30000.000000     30000.000000  30000.000000
mean      37.342662   4998.207881         2.656800      6.826467
std       13.572768    501.630488         2.434737      2.866826
min      -32.022140   3009.342109         0.000000      0.000000
25%       32.396932   4659.446258         1.000000      6.000000
50%       38.483503   4998.116042         2.000000      8.000000
75%       48.452143   5334.283367         4.000000      9.000000
max       79.865479   7167.653254         9.000000     10.000000

In [11]:
nps_df.to_csv("nps_df_clustering.csv",index=False)

In [2]:
X, y = make_blobs(n_samples=1000, centers=5, n_features=2,random_state=0)

In [3]:
pd.DataFrame(X)

             0         1
0    -0.705645  8.551399
1    -0.997960  3.164030
2     2.826673  1.927102
3     2.660388  1.793220
4     1.073995  4.886741
..         ...       ...
995   1.585235  0.680932
996   8.464538 -3.435294
997  -1.019665  2.801653
998  -1.797754  6.736889
999  10.483105 -3.737274

[1000 rows x 2 columns]

In [4]:
pd.DataFrame(X).to_csv("dummy_clustering.csv",index = False)