In [1]:
from sklearn.datasets import make_classification
import pandas as pd
import numpy as np
import random
from random import randint

In [2]:
age_detrator = np.random.normal(25, 15, 10000)
age_neutro = np.random.normal(37, 3, 10000)
age_promotor = np.random.normal(50, 3, 10000)

In [3]:
salary_detrator = np.random.normal(5000, 500, 10000)
salary_neutro = np.random.normal(5000, 500, 10000)
salary_promotor = np.random.normal(5000, 500, 10000)

In [4]:
num_reclama_sac_detrator = [randint(0, 9) for p in range(0, 10000)]
num_reclama_sac_neutro = [randint(0, 5) for p in range(0, 10000)]
num_reclama_sac_promotor = [randint(0, 2) for p in range(0, 10000)]

In [5]:
nota_detrator = [randint(0, 7) for p in range(0, 10000)]
nota_neutro = [randint(7, 8) for p in range(0, 10000)]
nota_promotor = [randint(9, 10) for p in range(0, 10000)]

In [6]:
promotor_df = pd.DataFrame().from_dict({ "age":age_promotor,
                                     "salary":salary_promotor,
                                     "num_reclama_sac": num_reclama_sac_promotor,
                                     "nota":nota_promotor
                                    })

In [7]:
neutro_df = pd.DataFrame().from_dict({"age":age_neutro,
                                     "salary":salary_neutro,
                                     "num_reclama_sac": num_reclama_sac_neutro,
                                     "nota":nota_neutro
                                    })

In [8]:
detrator_df = pd.DataFrame().from_dict({ "age":age_detrator,
                                     "salary":salary_detrator,
                                     "num_reclama_sac": num_reclama_sac_detrator,
                                     "nota":nota_detrator
                                    })

In [9]:
nps_df = promotor_df.append(neutro_df, ignore_index=True).append(detrator_df, ignore_index=True)

In [10]:
nps_df.describe()

                age        salary  num_reclama_sac          nota
count  30000.000000  30000.000000     30000.000000  30000.000000
mean      37.371604   4996.017998         2.657333      6.827467
std       13.688106    495.608190         2.456308      2.850924
min      -35.903854   2958.551547         0.000000      0.000000
25%       32.534822   4658.836529         1.000000      6.000000
50%       38.497528   4996.171745         2.000000      7.000000
75%       48.538005   5330.621652         4.000000      9.000000
max       77.926736   6829.156644         9.000000     10.000000

In [11]:
nps_df.to_csv("nps_df_clustering.csv",index=False)